@font-face {
  font-family: 'Century 751';
  src: url('/fonts/Century 751 Italic BT.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sequel Sans Light';
  src: url('/fonts/Sequel Sans Light Body.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Sequel Sans Bold';
  src: url('/fonts/Sequel Sans Bold Body.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* 
body {
  font-family: 'Sequel Sans';
} */

.font-century {
  font-family: 'Century 751';
}

.outline-layer {
  color: white;
  font-family: 'Century 751';
  /* Add a slight offset and color to simulate the outline */
  -webkit-text-stroke: 1px gray; /* Optional if you want to add stroke */
}

.outline-layer-sans {
  font-family: 'Sequel Sans Bold';            /* Make it bold */
  color: white;             /* Make the text color transparent */
  -webkit-text-stroke: 1px grey; /* Outline the text with 1px black stroke */
}
.outline-layer-sans-light {
  font-family: 'Sequel Sans Light';            /* Make it bold */
  color: white;             /* Make the text color transparent */
  -webkit-text-stroke: 1px grey; /* Outline the text with 1px black stroke */
}





/* Add custom styles for underline effect */
  .underline-animation {
    position: relative;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white; /* Tailwind's 'blue-500' */
    transition: width 0.3s ease-in-out;
  }

  .underline-animation:hover::after {
    width: 100%;
  }
  .underline-animation-black {
    position: relative;
  }

  .underline-animation-black::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black; /* Tailwind's 'blue-500' */
    transition: width 0.3s ease-in-out;
  }

  .underline-animation-black:hover::after {
    width: 100%;
  }

    /* Custom keyframes for the fade and slide-up effect */
    @keyframes fadeUp {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    
      .animate-fade-up {
        animation: fadeUp 1s ease-out forwards;
      }

      @keyframes fade-in-up {
        0% {
          opacity: 0;
          transform: translateY(10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      .animate-fade-in-up {
        animation: fade-in-up 1.5s ease-in-out forwards;
      }


    .no-select {
      user-select: none;
      -webkit-user-select: none;
  }

  .custom-img {
    width: 100%;
    height: 100%;
  }


  .justify-items-center div p {
    margin: 0;
    padding: 0;
  }
  
  hr {
    margin: 0 auto;
    width: 100%;
  }

  .view-project-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent);
    border-radius: inherit;
}


html {
  scroll-behavior: smooth;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.dropdown::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: rgb(82, 82, 91); /* Dark thumb color */
  border-radius: 10px; /* Rounded thumb */
  border: 2px solid #e5e7eb; /* Border around thumb */
}

.dropdown::-webkit-scrollbar-track {
  border-radius: 10px; /* Rounded track */
}

.dropdown::-webkit-scrollbar-corner {
  background-color: #f3f4f6; /* Optional: color for corner */
}

.box:hover {
  translate: 0 -20px;
  transform: translateY();
  transition: all 0.3s ease-in-out;
}


.box:hover .underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white; /* Tailwind's 'blue-500' */
  transition: width 0.3s ease-in-out;
}

.box:hover .underline-animation::after {
  width: 100%;
}

.custom-select {
  background-color: transparent;
}

.dropdown {
  display: none; /* Initially hide the dropdown */
}
.dropdown.active {
  display: block; /* Show the dropdown when active */
}